.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db

data/raw/*
data/staging/*
data/processed/*

!data/raw/.gitkeep
!data/staging/.gitkeep
!data/processed/.gitkeep

*.log
*.tmp
*.bak
*.cache
