frontend k3s
    bind *:6443
    mode tcp
    default_backend k3s

backend k3s
    mode tcp
    option tcp-check
    balance roundrobin
    server master1 192.168.52.3:6443 check
    server master2 192.168.52.6:6443 check